body{
    display: flex;
    flex-direction: column;
    background-color: white ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
.hContract{
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
    font-size: 22px;
}
.searchInput{
    display: flex;
    border-color: #d4dbe6;
    height: 25px;
    width: 550px;
    padding: 15px;
    font-size: 15pt;
    margin: 5px;
}
.searchInput:hover{
    border-color: rgb(182, 179, 179); 
    background-color: #e7eef7;
    border: solid #ecf4ff 1px;
}
.blockContract{
    border: solid #d4dbe6 2px;
    padding: 20px;
    max-width: 650px;
}
.blockContractConteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    
}
.block{
    height: 200px;
}
.searchInputBlock{
    display: block;
    margin: 20px;
}
.labelBlock{
    font-size: 12pt;
    margin: 5px;
}
.buttonBlock{
    display: flex;
    justify-content: space-between;
    margin: 25px;
}
.buttonCancel{
    background-color: #fc0d05;
    width: 120px;
    border: none;
    color: white;
    padding: 15px;
    font-weight: bold;
    font-size: 15px;
}
.buttonAccept{
    background-color: #0568fc;
    width: 150px;
    border: none;
    color: white;
    padding: 15px;
    font-weight: bold;
    font-size: 15px;
}
.buttonAccept:hover{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.buttonCancel:hover{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}